<a href="https://colab.research.google.com/github/saccordi/InsightPlaces/blob/master/InsightPlaces_tratamento_dos_dados_para_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bem-vindo(a) ao meu notebook!**
Na etapa anterior, foram realizadas as transformações dos dados. Agora é necessário fazer a exploração e tratamento dessa base de dados para efetivamente partir pra criação dos modelos de ML.

Nesse sentido, inicialmente serão selecionadas as features que fazem mais sentido para o projeto e depois será realizado alguns tratamentos na base de dados. Ao final, esses dados serão utilizados para a criação de um modelo de regressão que irá ajudar a imobiliária *InsightPlaces* na precificação dos imóveis.

In [1]:
# instalando o PySpark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=17153c7e679c7e20bf64a27c0709c1975b10c500137400caff36181837cc0233
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
# iniciando uma sessão Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Transformacao com Spark") \
    .getOrCreate()

spark

In [3]:
# obtendo os dados já transformados na fase anterior
!wget 'https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-2.zip' && unzip semana-2.zip -d dados/

--2023-11-29 23:56:09--  https://caelum-online-public.s3.amazonaws.com/challenge-spark/semana-2.zip
Resolving caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)... 52.217.116.233, 3.5.11.213, 3.5.0.185, ...
Connecting to caelum-online-public.s3.amazonaws.com (caelum-online-public.s3.amazonaws.com)|52.217.116.233|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2763652 (2.6M) [application/zip]
Saving to: ‘semana-2.zip’

semana-2.zip        100%[===================>]   2.63M  4.37MB/s    in 0.6s

2023-11-29 23:56:11 (4.37 MB/s) - ‘semana-2.zip’ saved [2763652/2763652]

Archive:  semana-2.zip
   creating: dados/dataset_transformado_parquet/
  inflating: dados/dataset_transformado_parquet/_SUCCESS
  inflating: dados/dataset_transformado_parquet/._SUCCESS.crc
  inflating: dados/dataset_transformado_parquet/part-00000-00341ba7-0a7c-4fef-a81e-1066725a64b1-c000.snappy.parquet
  inflating: dados/dataset_transformado_parquet/.part-00000-00341ba7-0a7c-4fef-a81e-1066725a64b1-c000.snappy.parquet.crc

In [4]:
# fazendo a leitura dos dados e mostrando as primeiras linhas
dados = spark.read.parquet("dados/dataset_transformado_parquet")

## Analisando o conjunto de dados

In [5]:
# mostrando as 10 primeiras linhas do conjunto de dados
dados.show(10)

+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
|                  id|andar|area_total|area_util|banheiros|     caracteristicas|quartos|suites|tipo_anuncio|tipo_unidade|   tipo_uso|vaga|              bairro|        zona|condominio|iptu| tipo| valor|
+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
|03a386b6-7ab8-4ef...|    0|        43|       43|        1|[Churrasqueira, A...|      2|  NULL|       Usado| Apartamento|Residencial|   1|            Realengo|  Zona Oeste|       285|NULL|Venda| 22999|
|1fe78d41-b8e0-4d2...|    0|        44|       44|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   0|               Irajá|  Zona Norte|       170|   0|Venda|110000|
|1fa1c1e5-e98c-433...|    4|      NULL|       55|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   1|              Cosmos|  Zona Oeste|      NULL|NULL|Venda|115000|
|a6ab01ae-3d40-40e...|    2|      NULL|       55|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   0|        Tomás Coelho|  Zona Norte|      NULL|NULL|Venda|115000|
|1d8ff7a2-16bd-4e3...|    0|      NULL|       50|        1|                  []|      1|  NULL|       Usado| Apartamento|Residencial|   0|              Centro|Zona Central|      1300|2679|Venda|125000|
|40a2cbde-946b-42d...|    2|        47|       47|        1|[Condomínio fecha...|      2|     0|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|       380|NULL|Venda|138000|
|be269ddf-a4a3-4a7...|    0|     17089|       45|        1|[Churrasqueira, C...|      2|     0|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|       356|   0|Venda|140000|
|4b7e3d59-34fd-4ba...|    3|        48|       48|        1|[Churrasqueira, P...|      2|  NULL|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|         0|   0|Venda|150000|
|a1a0c2ac-4fa8-4b0...|    9|      NULL|       55|        1|[Churrasqueira, E...|      2|  NULL|       Usado| Apartamento|Residencial|   1|Freguesia (Jacare...|  Zona Oeste|       780| 660|Venda|160000|
|390d2b88-e06d-47e...|    0|        70|       70|        2|   [Salão de festas]|      2|     0|       Usado| Apartamento|Residencial|   1|          Praça Seca|  Zona Oeste|    420000|NULL|Venda|159000|
+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
only showing top 10 rows

In [6]:
# analisando a estrutura da base de dados
dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: long (nullable = true)
 |-- area_total: string (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- valor: string (nullable = true)

Percebe-se, com essa primeira analise, que o dados estão transformados de acordo com a fase anterior.

## Seleção de features

Algumas colunas possuem apenas um único valor devido aos filtros que foram realizados na base de dados durante a fase de transformação dos dados. Dessa forma, essas colunas serão excluídas, pois como possuem apenas um valor não serão relevantes para o modelo.

In [7]:
# verificando os registros distintos na coluna tipo
dados.select("tipo").distinct().show(5)

+-----+
| tipo|
+-----+
|Venda|
+-----+

In [8]:
# verificando os registros distintos na coluna anuncio
dados.select("tipo_anuncio").distinct().show(5)

+------------+
|tipo_anuncio|
+------------+
|       Usado|
+------------+

In [9]:
# verificando os registros distintos na coluna tipo_unidade
dados.select("tipo_unidade").distinct().show(5)

+------------+
|tipo_unidade|
+------------+
| Apartamento|
+------------+

In [10]:
# verificando os registros distintos na coluna tipo_uso
dados.select("tipo_uso").distinct().show(5)

+-----------+
|   tipo_uso|
+-----------+
|Residencial|
+-----------+

In [11]:
# verificando os registros distintos nas colunas area_total e area_util
dados.select("area_total", "area_util").show(5)

+----------+---------+
|area_total|area_util|
+----------+---------+
|        43|       43|
|        44|       44|
|      NULL|       55|
|      NULL|       55|
|      NULL|       50|
+----------+---------+
only showing top 5 rows

As colunas `area_total` e `area_util` possuem vários registros distintos e nulos. Sendo assim, será feita uma analise mais profunda.

In [12]:
# importando o módulo functions
from pyspark.sql import functions as f

# criando um DataFrame sem valores nulos das colunas area_util e area_total
dados_without_na = dados\
    .select('area_util', 'area_total')\
    .na\
    .drop()

# criando variáves com analises mais detalhadas
quantidade_total = dados_without_na.count()
quantidade_iguais = dados_without_na.filter(f.col('area_util') == f.col('area_total')).count()
quantidade_distintas = quantidade_total - quantidade_iguais

# mostrando as informações
print(f"Quantidade de linhas: {quantidade_total}")
print(f"Quantidade de linhas com area_util == area_total: {quantidade_iguais}")
print(f"Quantidade de linhas diferentes: {quantidade_distintas}")

Quantidade de linhas: 57368
Quantidade de linhas com area_util == area_total: 55384
Quantidade de linhas diferentes: 1984

Com essa analise mais profunda, percebe-se que existem 57368 linhas e, entre elas, 55384 possuem os mesmos valores tanto na coluna `area_util` quanto na coluna `area_total`. Ou seja, a maioria das informações dessas colunas são as mesmas e,por isso, não é necessário manter as duas colunas.

Para decidir qual das colunas manter, será feita uma alanlise da quantidade de dados nulos em cada uma delas.

In [13]:
# mostrando quantos registros nulos têm em cada uma das colunas
colunas = ["area_total", "area_util"]

dados\
    .select([f.count(f.when(dados[c].isNull(), True)).alias(c) for c in colunas])\
    .show()

+----------+---------+
|area_total|area_util|
+----------+---------+
|      9194|        0|
+----------+---------+

O resultado acima mostra que a coluna `area_total` têm 9194 registros nulos, ao passo que a coluna `area_total` não têm registros nulos. Sendo assim, a coluna `area_total` será removida da base de dados. Além dela, as outras colunas que possuem apenas um único valor também sersão removidas.

In [14]:
# visualizando o novo Dataframe
dados.\
    drop("area_total", "tipo_anuncio", "tipo_unidade", "tipo_uso", "tipo")\
    .show(5)

+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
|                  id|andar|area_util|banheiros|     caracteristicas|quartos|suites|vaga|      bairro|        zona|condominio|iptu| valor|
+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
|03a386b6-7ab8-4ef...|    0|       43|        1|[Churrasqueira, A...|      2|  NULL|   1|    Realengo|  Zona Oeste|       285|NULL| 22999|
|1fe78d41-b8e0-4d2...|    0|       44|        1|                  []|      2|     0|   0|       Irajá|  Zona Norte|       170|   0|110000|
|1fa1c1e5-e98c-433...|    4|       55|        1|                  []|      2|     0|   1|      Cosmos|  Zona Oeste|      NULL|NULL|115000|
|a6ab01ae-3d40-40e...|    2|       55|        1|                  []|      2|     0|   0|Tomás Coelho|  Zona Norte|      NULL|NULL|115000|
|1d8ff7a2-16bd-4e3...|    0|       50|        1|                  []|      1|  NULL|   0|      Centro|Zona Central|      1300|2679|125000|
+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
only showing top 5 rows

In [15]:
# aplicando as mudanças
dataset = dados.\
                drop("area_total", "tipo_anuncio", "tipo_unidade", "tipo_uso", "tipo")

dataset.show(5)

+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
|                  id|andar|area_util|banheiros|     caracteristicas|quartos|suites|vaga|      bairro|        zona|condominio|iptu| valor|
+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
|03a386b6-7ab8-4ef...|    0|       43|        1|[Churrasqueira, A...|      2|  NULL|   1|    Realengo|  Zona Oeste|       285|NULL| 22999|
|1fe78d41-b8e0-4d2...|    0|       44|        1|                  []|      2|     0|   0|       Irajá|  Zona Norte|       170|   0|110000|
|1fa1c1e5-e98c-433...|    4|       55|        1|                  []|      2|     0|   1|      Cosmos|  Zona Oeste|      NULL|NULL|115000|
|a6ab01ae-3d40-40e...|    2|       55|        1|                  []|      2|     0|   0|Tomás Coelho|  Zona Norte|      NULL|NULL|115000|
|1d8ff7a2-16bd-4e3...|    0|       50|        1|                  []|      1|  NULL|   0|      Centro|Zona Central|      1300|2679|125000|
+--------------------+-----+---------+---------+--------------------+-------+------+----+------------+------------+----------+----+------+
only showing top 5 rows

## Convertendo os tipos das colunas

Ao analisar a estrutura dos dados, percebe-se que os tipos dos dados estão incorretos e, por isso, será necessário convertê-los.
As colunas `andar`, `banheiros`, `suites` e `quartos`serão convertidas para inteiro. Além disso também pode ser necessário converter as colunas `area_util`, `condominio`, `iptu` e `iptu` para o tipo double.

In [16]:
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: long (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- valor: string (nullable = true)

In [17]:
# importando o módulo para altear os tipos dos dados
from pyspark.sql.types import IntegerType, DoubleType

In [18]:
# conultando as mudança
dataset\
    .withColumn('andar', dados['andar'].cast(IntegerType()))\
    .withColumn('area_util', dados['area_util'].cast(DoubleType()))\
    .withColumn('banheiros', dados['banheiros'].cast(IntegerType()))\
    .withColumn('quartos', dados['quartos'].cast(IntegerType()))\
    .withColumn('suites', dados['suites'].cast(IntegerType()))\
    .withColumn('condominio', dados['condominio'].cast(DoubleType()))\
    .withColumn('vaga', dados['vaga'].cast(IntegerType()))\
    .withColumn('iptu', dados['iptu'].cast(DoubleType()))\
    .withColumn('valor', dados['valor'].cast(DoubleType()))\
    .printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: integer (nullable = true)
 |-- area_util: double (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: integer (nullable = true)
 |-- suites: integer (nullable = true)
 |-- vaga: integer (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: double (nullable = true)
 |-- iptu: double (nullable = true)
 |-- valor: double (nullable = true)

In [19]:
# aplicando as mudanças ao Dataset
dataset = dataset\
    .withColumn('andar', dados['andar'].cast(IntegerType()))\
    .withColumn('area_util', dados['area_util'].cast(IntegerType()))\
    .withColumn('banheiros', dados['banheiros'].cast(IntegerType()))\
    .withColumn('quartos', dados['quartos'].cast(IntegerType()))\
    .withColumn('suites', dados['suites'].cast(DoubleType()))\
    .withColumn('condominio', dados['condominio'].cast(DoubleType()))\
    .withColumn('vaga', dados['vaga'].cast(DoubleType()))\
    .withColumn('iptu', dados['iptu'].cast(DoubleType()))\
    .withColumn('valor', dados['valor'].cast(DoubleType()))

## Tratando a coluna "caracteristicas"

A coluna `caracteristicas` possui listas de strings e, algumas dessas listas, estão sem elementos. Essas listas serão transformadas em valores nulos.

In [20]:
# visualizando os elementos únicos das listas dessa coluna
dataset.select(f.explode("caracteristicas")).distinct().collect()

[Row(col='Condomínio fechado'),
 Row(col='Playground'),
 Row(col='Portão eletrônico'),
 Row(col='Piscina'),
 Row(col='Animais permitidos'),
 Row(col='Portaria 24h'),
 Row(col='Elevador'),
 Row(col='Academia'),
 Row(col='Salão de festas'),
 Row(col='Churrasqueira')]

In [21]:
# substituindo os valores vazios da coluna 'caracteristicas'por nulo
dataset = dataset.withColumn('caracteristicas', f.when((f.size(f.col('caracteristicas')) == 0), f.lit(None)).otherwise(f.col('caracteristicas')))
dataset.show()

+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|                  id|andar|area_util|banheiros|     caracteristicas|quartos|suites|vaga|              bairro|        zona|condominio|  iptu|   valor|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|03a386b6-7ab8-4ef...|    0|       43|        1|[Churrasqueira, A...|      2|  NULL| 1.0|            Realengo|  Zona Oeste|     285.0|  NULL| 22999.0|
|1fe78d41-b8e0-4d2...|    0|       44|        1|                NULL|      2|   0.0| 0.0|               Irajá|  Zona Norte|     170.0|   0.0|110000.0|
|1fa1c1e5-e98c-433...|    4|       55|        1|                NULL|      2|   0.0| 1.0|              Cosmos|  Zona Oeste|      NULL|  NULL|115000.0|
|a6ab01ae-3d40-40e...|    2|       55|        1|                NULL|      2|   0.0| 0.0|        Tomás Coelho|  Zona Norte|      NULL|  NULL|115000.0|
|1d8ff7a2-16bd-4e3...|    0|       50|        1|                NULL|      1|  NULL| 0.0|              Centro|Zona Central|    1300.0|2679.0|125000.0|
|40a2cbde-946b-42d...|    2|       47|        1|[Condomínio fecha...|      2|   0.0| 1.0|        Campo Grande|  Zona Oeste|     380.0|  NULL|138000.0|
|be269ddf-a4a3-4a7...|    0|       45|        1|[Churrasqueira, C...|      2|   0.0| 1.0|        Campo Grande|  Zona Oeste|     356.0|   0.0|140000.0|
|4b7e3d59-34fd-4ba...|    3|       48|        1|[Churrasqueira, P...|      2|  NULL| 1.0|        Campo Grande|  Zona Oeste|       0.0|   0.0|150000.0|
|a1a0c2ac-4fa8-4b0...|    9|       55|        1|[Churrasqueira, E...|      2|  NULL| 1.0|Freguesia (Jacare...|  Zona Oeste|     780.0| 660.0|160000.0|
|390d2b88-e06d-47e...|    0|       70|        2|   [Salão de festas]|      2|   0.0| 1.0|          Praça Seca|  Zona Oeste|  420000.0|  NULL|159000.0|
|07bb07c1-21cc-4da...|    2|       48|        1|[Condomínio fecha...|      1|   0.0| 0.0|             Piedade|  Zona Norte|      10.0|  10.0|170000.0|
|7d3a1bae-988c-44b...|    5|       40|        1|[Playground, Chur...|      2|   0.0| 1.0|        Braz de Pina|  Zona Norte|     150.0| 120.0|189000.0|
|47af17f0-1c81-474...|    0|       65|        1|                NULL|      2|   0.0| 1.0|            Campinho|  Zona Oeste|     432.0|  NULL|185000.0|
|a9bd1575-e9f2-43d...|    2|       50|        1|[Condomínio fecha...|      1|   0.0| 1.0|           Madureira|  Zona Norte|     650.0|   1.0|185000.0|
|cfca7253-3d02-4cd...|    5|       45|        1|[Academia, Churra...|      2|   1.0| 0.0|             Taquara|  Zona Oeste|     150.0|  40.0|199000.0|
|b571ae97-e3d8-4fb...|    0|       48|        1|[Academia, Condom...|      2|  NULL| 0.0|          Bonsucesso|  Zona Norte|       0.0|   0.0|205933.0|
|eb5fdc65-acae-45f...|    0|       44|        1|[Academia, Condom...|      2|  NULL| 0.0|          Bonsucesso|  Zona Norte|       0.0|   0.0|206000.0|
|77cd0388-e3ff-40c...|    2|       64|        1|                NULL|      2|   0.0| 0.0|      Jardim América|  Zona Norte|       0.0|   0.0|220000.0|
|74a91f07-7387-4a8...|    0|       55|        2|[Salão de festas,...|      1|   0.0| 1.0|        Engenho Novo|  Zona Norte|     600.0| 652.0|219130.0|
|6aab1165-508d-455...|    3|       60|        1|[Animais permitidos]|      3|   0.0| 1.0|           Cascadura|  Zona Norte|      98.0|   1.0|230000.0|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
only showing top 20 rows

## Tratando dados faltantes
Ao analisar a estrutura da base de dados, nota-se que existem diversos dados faltantes. É importante tratar isso pois modelos de Machine Learning não costumam trabalhar corretamente com dados nulos. Tendo isso em mente, os dados nulos das colunas numéricas serão substituídos pelo número 0.

In [22]:
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: integer (nullable = true)
 |-- area_util: integer (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: integer (nullable = true)
 |-- suites: double (nullable = true)
 |-- vaga: double (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: double (nullable = true)
 |-- iptu: double (nullable = true)
 |-- valor: double (nullable = true)

In [23]:
# analisando a quantidade de dados nulos por as coluna
dataset\
    .select([f.count(f.when(dataset[c].isNull(), True)).alias(c) for c in dataset.columns])\
    .show()

+---+-----+---------+---------+---------------+-------+------+----+------+----+----------+----+-----+
| id|andar|area_util|banheiros|caracteristicas|quartos|suites|vaga|bairro|zona|condominio|iptu|valor|
+---+-----+---------+---------+---------------+-------+------+----+------+----+----------+----+-----+
|  0|    0|        0|        0|          12736|      0|  5554|3017|     0|   0|      2371|7199|    0|
+---+-----+---------+---------+---------------+-------+------+----+------+----+----------+----+-----+

In [24]:
# visualizando a transformação
dataset\
    .select('*')\
    .na\
    .fill(0)\
    .show()

+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|                  id|andar|area_util|banheiros|     caracteristicas|quartos|suites|vaga|              bairro|        zona|condominio|  iptu|   valor|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
|03a386b6-7ab8-4ef...|    0|       43|        1|[Churrasqueira, A...|      2|   0.0| 1.0|            Realengo|  Zona Oeste|     285.0|   0.0| 22999.0|
|1fe78d41-b8e0-4d2...|    0|       44|        1|                NULL|      2|   0.0| 0.0|               Irajá|  Zona Norte|     170.0|   0.0|110000.0|
|1fa1c1e5-e98c-433...|    4|       55|        1|                NULL|      2|   0.0| 1.0|              Cosmos|  Zona Oeste|       0.0|   0.0|115000.0|
|a6ab01ae-3d40-40e...|    2|       55|        1|                NULL|      2|   0.0| 0.0|        Tomás Coelho|  Zona Norte|       0.0|   0.0|115000.0|
|1d8ff7a2-16bd-4e3...|    0|       50|        1|                NULL|      1|   0.0| 0.0|              Centro|Zona Central|    1300.0|2679.0|125000.0|
|40a2cbde-946b-42d...|    2|       47|        1|[Condomínio fecha...|      2|   0.0| 1.0|        Campo Grande|  Zona Oeste|     380.0|   0.0|138000.0|
|be269ddf-a4a3-4a7...|    0|       45|        1|[Churrasqueira, C...|      2|   0.0| 1.0|        Campo Grande|  Zona Oeste|     356.0|   0.0|140000.0|
|4b7e3d59-34fd-4ba...|    3|       48|        1|[Churrasqueira, P...|      2|   0.0| 1.0|        Campo Grande|  Zona Oeste|       0.0|   0.0|150000.0|
|a1a0c2ac-4fa8-4b0...|    9|       55|        1|[Churrasqueira, E...|      2|   0.0| 1.0|Freguesia (Jacare...|  Zona Oeste|     780.0| 660.0|160000.0|
|390d2b88-e06d-47e...|    0|       70|        2|   [Salão de festas]|      2|   0.0| 1.0|          Praça Seca|  Zona Oeste|  420000.0|   0.0|159000.0|
|07bb07c1-21cc-4da...|    2|       48|        1|[Condomínio fecha...|      1|   0.0| 0.0|             Piedade|  Zona Norte|      10.0|  10.0|170000.0|
|7d3a1bae-988c-44b...|    5|       40|        1|[Playground, Chur...|      2|   0.0| 1.0|        Braz de Pina|  Zona Norte|     150.0| 120.0|189000.0|
|47af17f0-1c81-474...|    0|       65|        1|                NULL|      2|   0.0| 1.0|            Campinho|  Zona Oeste|     432.0|   0.0|185000.0|
|a9bd1575-e9f2-43d...|    2|       50|        1|[Condomínio fecha...|      1|   0.0| 1.0|           Madureira|  Zona Norte|     650.0|   1.0|185000.0|
|cfca7253-3d02-4cd...|    5|       45|        1|[Academia, Churra...|      2|   1.0| 0.0|             Taquara|  Zona Oeste|     150.0|  40.0|199000.0|
|b571ae97-e3d8-4fb...|    0|       48|        1|[Academia, Condom...|      2|   0.0| 0.0|          Bonsucesso|  Zona Norte|       0.0|   0.0|205933.0|
|eb5fdc65-acae-45f...|    0|       44|        1|[Academia, Condom...|      2|   0.0| 0.0|          Bonsucesso|  Zona Norte|       0.0|   0.0|206000.0|
|77cd0388-e3ff-40c...|    2|       64|        1|                NULL|      2|   0.0| 0.0|      Jardim América|  Zona Norte|       0.0|   0.0|220000.0|
|74a91f07-7387-4a8...|    0|       55|        2|[Salão de festas,...|      1|   0.0| 1.0|        Engenho Novo|  Zona Norte|     600.0| 652.0|219130.0|
|6aab1165-508d-455...|    3|       60|        1|[Animais permitidos]|      3|   0.0| 1.0|           Cascadura|  Zona Norte|      98.0|   1.0|230000.0|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+------+--------+
only showing top 20 rows

In [25]:
# aplicando a transformação
dataset = dataset\
    .select('*')\
    .na\
    .fill(0)

Futuramente será abordado os dados nulos da coluna `caracteristicas`. Nesse momento, é necessário analisar a coluna `zona`. Nessa coluna existe uma string vazia.

In [26]:
# contando os registros por zona
dataset\
    .select('zona')\
    .groupBy('zona')\
    .count()\
    .show()

+------------+-----+
|        zona|count|
+------------+-----+
|  Zona Norte|11897|
|  Zona Oeste|32979|
|Zona Central| 1144|
|    Zona Sul|20531|
|            |   11|
+------------+-----+

Pode-se notar que exitem 11 linhas em em uma strig vazia. Elas serão removidas da nossa base de dados.

In [27]:
# removendo a string vazia
dataset = dataset\
    .where(f.col('zona') != '')

In [28]:
# contando os registros por zona
dataset\
    .select('zona')\
    .groupBy('zona')\
    .count()\
    .show()

+------------+-----+
|        zona|count|
+------------+-----+
|  Zona Norte|11897|
|  Zona Oeste|32979|
|Zona Central| 1144|
|    Zona Sul|20531|
+------------+-----+

## Preparando os dados para ML

Para que seja possível utilizar os dados em um modelo [Machine Learning do Pyspark](https://), é necessário realizar algumas técnicas como transformação de variáveis categóricas em binárias. Além disso, será feira a vetorização dos dados.

## Variáveis Dummy

Esse processo serve para transformar viriáveis categóricas em binárias.

In [29]:
# visualizando a estrutura dos dadoss
dataset.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: integer (nullable = true)
 |-- area_util: integer (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: integer (nullable = true)
 |-- suites: double (nullable = false)
 |-- vaga: double (nullable = false)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: double (nullable = false)
 |-- iptu: double (nullable = false)
 |-- valor: double (nullable = false)

In [30]:
# expandindo a coluna "caracteristicas" em múltiplas linhas
dataset.select("*", f.explode("caracteristicas").alias("caracteristica")).show(15, truncate = False)

+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+------------+----------+----------+----+--------+------------------+
|id                                  |andar|area_util|banheiros|caracteristicas                                                                                                                |quartos|suites|vaga|bairro      |zona      |condominio|iptu|valor   |caracteristica    |
+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+------------+----------+----------+----+--------+------------------+
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Churrasqueira     |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Academia          |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Playground        |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Salão de festas   |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Condomínio fechado|
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Portão eletrônico |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Portaria 24h      |
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo    |Zona Oeste|285.0     |0.0 |22999.0 |Animais permitidos|
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Condomínio fechado|
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Portaria 24h      |
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Salão de festas   |
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Churrasqueira     |
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Piscina           |
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande|Zona Oeste|380.0     |0.0 |138000.0|Animais permitidos|
|be269ddf-a4a3-4a72-bd54-93cdccf512dd|0    |45       |1        |[Churrasqueira, Condomínio fechado, Piscina]                                                                                   |2      |0.0   |1.0 |Campo Grande|Zona Oeste|356.0     |0.0 |140000.0|Churrasqueira     |
+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+------------+----------+----------+----+--------+------------------+
only showing top 15 rows

In [31]:
# atribuindo o valor 1 quando a característica está presente
# atribuindo o valor 0 quando a característica está ausente
dataset\
    .select("*", f.explode("caracteristicas").alias("cara"))\
    .groupBy("id")\
    .pivot('cara')\
    .agg(f.lit(1))\
    .na\
    .fill(0)\
    .show(truncate=False)

+------------------------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|id                                  |Academia|Animais permitidos|Churrasqueira|Condomínio fechado|Elevador|Piscina|Playground|Portaria 24h|Portão eletrônico|Salão de festas|
+------------------------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|fd96bbd5-d631-416a-9f84-29091cefe14c|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|bfffedfe-99e7-4aed-9a9f-f766225a0f1f|0       |1                 |1            |1                 |1       |0      |1         |0           |1                |1              |
|fcb67af3-5601-415f-9d1f-75280923a4e3|1       |1                 |1            |0                 |0       |1      |1         |0           |0                |1              |
|afecddff-f4cc-4ab8-bdbf-242b7dff7241|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|1bbc40f3-4f5c-4595-99b1-56ef42a54ede|1       |0                 |0            |1                 |1       |1      |1         |1           |1                |1              |
|fd26aeb2-a7b3-4f80-97ed-fe3eb928c123|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|10e9d118-dbad-43c3-879d-6def0d60f8ed|0       |1                 |1            |1                 |0       |1      |1         |1           |1                |1              |
|ca1e84d7-86c8-4b1e-aa5a-db99c8c9d0d3|1       |0                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|d9e139a5-e85d-4e1b-b77f-1b120d146fb3|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|156a1fa5-37ca-43db-8448-df4a35f45496|1       |0                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|e7be09eb-6223-4b41-b255-30a5f7d67771|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|631efda0-5e10-422c-990a-f6c47f6ec4c7|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|07cbfef2-efbf-4e89-a023-db65e76cc820|0       |1                 |0            |0                 |1       |0      |0         |1           |0                |0              |
|62baf185-103d-4489-956a-d2cc707a66cd|1       |0                 |1            |1                 |0       |1      |1         |0           |0                |0              |
|3030d17c-5681-4b2f-b333-3e363a92ddda|1       |1                 |1            |1                 |1       |1      |0         |1           |1                |1              |
|6179c8a4-1fd2-4f54-a91d-68d1ba80dd26|1       |1                 |0            |1                 |1       |1      |1         |1           |1                |1              |
|c284072a-7298-4e5a-bc0b-a90b3a0f17fc|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|7e43514c-3b40-4fbd-9ad4-1fcac078134d|1       |1                 |1            |1                 |1       |1      |1         |1           |1                |1              |
|6a4ce9ac-1eb0-4d4b-9a65-5e6d842777bf|1       |0                 |1            |0                 |1       |1      |1         |0           |0                |1              |
|bdc6127a-1d97-41b4-a736-85122e76bd5e|1       |0                 |1            |0                 |0       |0      |0         |0           |0                |1              |
+------------------------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
only showing top 20 rows

In [32]:
# aplicando as transformações a uma variável
caracteristicas = dataset\
    .select("*", f.explode("caracteristicas").alias("cara"))\
    .groupBy("id")\
    .pivot('cara')\
    .agg(f.lit(1))

O mesmo processo feito com a coluna `caracteristicas` será feito com a coluna `zona`. Cada uma das zonas da coluna `zonas` será será transformada em colunas separadas.

In [33]:
# aplicando as transformações a uma variável
zona = dataset\
    .groupBy("id")\
    .pivot('zona')\
    .agg(f.lit(1))

In [34]:
dataset.show(10, truncate=False)

+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+-----------------------+------------+----------+------+--------+
|id                                  |andar|area_util|banheiros|caracteristicas                                                                                                                |quartos|suites|vaga|bairro                 |zona        |condominio|iptu  |valor   |
+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+-----------------------+------------+----------+------+--------+
|03a386b6-7ab8-4eff-891d-f8a16efc1989|0    |43       |1        |[Churrasqueira, Academia, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]|2      |0.0   |1.0 |Realengo               |Zona Oeste  |285.0     |0.0   |22999.0 |
|1fe78d41-b8e0-4d21-a1a8-72cb7863f441|0    |44       |1        |NULL                                                                                                                           |2      |0.0   |0.0 |Irajá                  |Zona Norte  |170.0     |0.0   |110000.0|
|1fa1c1e5-e98c-433f-9675-1b43d7d6da01|4    |55       |1        |NULL                                                                                                                           |2      |0.0   |1.0 |Cosmos                 |Zona Oeste  |0.0       |0.0   |115000.0|
|a6ab01ae-3d40-40e7-bb6a-f2334e0abbe0|2    |55       |1        |NULL                                                                                                                           |2      |0.0   |0.0 |Tomás Coelho           |Zona Norte  |0.0       |0.0   |115000.0|
|1d8ff7a2-16bd-4e3f-a92e-1b85f923ebb0|0    |50       |1        |NULL                                                                                                                           |1      |0.0   |0.0 |Centro                 |Zona Central|1300.0    |2679.0|125000.0|
|40a2cbde-946b-42da-b7f2-b80057c7a47f|2    |47       |1        |[Condomínio fechado, Portaria 24h, Salão de festas, Churrasqueira, Piscina, Animais permitidos]                                |2      |0.0   |1.0 |Campo Grande           |Zona Oeste  |380.0     |0.0   |138000.0|
|be269ddf-a4a3-4a72-bd54-93cdccf512dd|0    |45       |1        |[Churrasqueira, Condomínio fechado, Piscina]                                                                                   |2      |0.0   |1.0 |Campo Grande           |Zona Oeste  |356.0     |0.0   |140000.0|
|4b7e3d59-34fd-4bac-9232-1015cb3b3a24|3    |48       |1        |[Churrasqueira, Piscina, Playground, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos] |2      |0.0   |1.0 |Campo Grande           |Zona Oeste  |0.0       |0.0   |150000.0|
|a1a0c2ac-4fa8-4b02-a087-f9d76b6bccb7|9    |55       |1        |[Churrasqueira, Elevador, Salão de festas, Condomínio fechado, Portão eletrônico, Portaria 24h, Animais permitidos]            |2      |0.0   |1.0 |Freguesia (Jacarepaguá)|Zona Oeste  |780.0     |660.0 |160000.0|
|390d2b88-e06d-47e5-ba7f-a680130ac5f0|0    |70       |2        |[Salão de festas]                                                                                                              |2      |0.0   |1.0 |Praça Seca             |Zona Oeste  |420000.0  |0.0   |159000.0|
+------------------------------------+-----+---------+---------+-------------------------------------------------------------------------------------------------------------------------------+-------+------+----+-----------------------+------------+----------+------+--------+
only showing top 10 rows

In [35]:
# contando a quantidade total de linhas do dataset original
count_rows_original = dataset.count()

In [36]:
# juntando os dados
dataset = dataset\
    .join(zona, 'id', how='inner')\
    .join(caracteristicas, 'id', how='left')\
    .drop('zona', 'cara', 'caracteristicas')\
    .na\
    .fill(0)

In [37]:
# comparando se o join funcionou corretamente
# verificando se ainda se mantiveras as mesmas quantidades de linhas
print("Quantidade de linhas antes: ", count_rows_original)
print("Quantidade de linhas depois: ", dataset.count())
print("Quantidade de linhas perdidas: ", count_rows_original - dataset.count())

Quantidade de linhas antes:  66551
Quantidade de linhas depois:  66551
Quantidade de linhas perdidas:  0

In [38]:
# visualizando o Dataset
dataset.show(5)

+--------------------+-----+---------+---------+-------+------+----+-----------+----------+------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|                  id|andar|area_util|banheiros|quartos|suites|vaga|     bairro|condominio|  iptu|    valor|Zona Central|Zona Norte|Zona Oeste|Zona Sul|Academia|Animais permitidos|Churrasqueira|Condomínio fechado|Elevador|Piscina|Playground|Portaria 24h|Portão eletrônico|Salão de festas|
+--------------------+-----+---------+---------+-------+------+----+-----------+----------+------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|02fba6ef-a691-442...|    3|       64|        1|      2|   2.0| 1.0|Jacarepaguá|     784.0|  80.0| 380000.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|3dd5d200-0a7f-43d...|    0|      170|        3|      4|   1.0| 1.0|Cosme Velho|    2250.0|3000.0|1450000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       1|      0|         0|           0|                0|              0|
|4e47e4d4-3326-4eb...|    0|       90|        2|      3|   1.0| 0.0| Copacabana|     950.0|2677.0| 949020.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       1|      0|         0|           0|                0|              0|
|82707939-71bd-40c...|    0|      525|        4|      4|   2.0| 2.0|   Flamengo|    5000.0|2100.0|5199000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       0|      0|         0|           0|                0|              0|
|ece1e671-cb4d-48a...|    0|       50|        1|      2|   0.0| 1.0|     Centro|     320.0|  80.0| 330000.0|           1|         0|         0|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
+--------------------+-----+---------+---------+-------+------+----+-----------+----------+------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
only showing top 5 rows

In [39]:
# conferindo o ID e se as colunas dummies referentes a esse ID estão corretas
dataset.filter(f.col('id')=="be269ddf-a4a3-4a72-bd54-93cdccf512dd").show(5)

+--------------------+-----+---------+---------+-------+------+----+------------+----------+----+--------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|                  id|andar|area_util|banheiros|quartos|suites|vaga|      bairro|condominio|iptu|   valor|Zona Central|Zona Norte|Zona Oeste|Zona Sul|Academia|Animais permitidos|Churrasqueira|Condomínio fechado|Elevador|Piscina|Playground|Portaria 24h|Portão eletrônico|Salão de festas|
+--------------------+-----+---------+---------+-------+------+----+------------+----------+----+--------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|be269ddf-a4a3-4a7...|    0|       45|        1|      2|   0.0| 1.0|Campo Grande|     356.0| 0.0|140000.0|           0|         0|         1|       0|       0|                 0|            1|                 1|       0|      1|         0|           0|                0|              0|
+--------------------+-----+---------+---------+-------+------+----+------------+----------+----+--------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+

## Salvando os dados em parquet
Agora que a base de dados está tratada de forma correta para ser utilizada em um modelo de machine learning, é importante importá-la. Assim será possível utilizar essa base na próxima etapa do projeto.

In [40]:
# salvando os dados no formato parquet
dataset.write.parquet("dados_salvos/dataset_ml_regressao")